body{
  font-family: Helvetica, sans-serif;
}

div {
  border: 1px solid #ddd;
}

.navbar{
  height: 70px;
  border-bottom: 1px solid black;
}
.logo-container{
  float: left;
  line-height: 70px;
  padding-left: 10px;
}
.logo-container img{
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.logo-container h2{
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.nav-elements-container{
  float: right;
}
.nav-elements-container .button{
  font-size: 24px;
  text-align: center;
  width: 195px;
  display: inline-block;
  line-height: 70px;
  height: 70px;
}
.cta-button{
  font-weight: bold;
  color: white;
  background-color: #2b78e4;
}


.search-container{
  margin: 30px auto;
  width: 620px;
}

.search-container input{
  padding: 2px;
}

.search-container .search-bar{
  font-size: 24px;
  line-height: 34px;
  width: 446px;
  padding-left: 12px;
  border: 1px solid gray;
}

.search-container .search-submit{
  line-height: 34px;
  font-size: 24px;
  border: 1px solid gray;
  width: 136px;
  margin-left: 16px;
}
